[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
fasttext = "*"
ipython = "*"
nltk = "*"
requests = "*"
flask = "*"
jupyter = "*"
emoji = "*"

[dev-packages]
isort = {extras = ["pipfile"],version = "*"}
black = "*"
autoflake = "*"
flake8 = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
