attrs==20.3.0
click==7.1.2
fasttext==0.9.2
Flask==1.1.2
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pluggy==0.13.1
py==1.9.0
pybind11==2.6.1
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
threadpoolctl==2.1.0
toml==0.10.2
Werkzeug==1.0.1
